.mainBg {
  width: 70%;
  height: 553px;
  right: 0%;
  background: transparent linear-gradient(116deg, #3ae7ab 0%, #2dc4ea 100%) 0%
    0% no-repeat padding-box;
}

.one {
    clip-path: polygon(7.8% 0%, 91.74% 0%, 100% 100%, 0% 100%);
  background-color: #6e7278;
  width: 172px;
  height: 74px;
}
.two {
    clip-path: polygon(12.86% 0%, 85.83% 0%, 100% 100%, 0% 100%);
    background-color: #C5CDD3;
  width: 233px;
  height: 7px;
}